*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Roboto',sans-serif;
}

.b_g_b{
    background-color: #00308F;;
}
.back_container{
    position: relative;
    height:100vh;
    width:100%;
}
.left_back{
    background-color: #89CFF0;
height:100vh;
}
.right_back{
background-color: #A4DDED;
height:100vh;
}
/* front  container  */
.front_container{
    height:88vh;
    position: absolute;
    left:6%;
    top:6%;
    width: 88vw;
    background-color: #F0F8FF;
    border-radius: 32px;
    padding-left: 54px;
    padding-top:  50px;
}
.icon_part{
    height: 97%;
    border-radius: 82px;
    position: relative;
}
.front_container .col-md-1{
    width: 240px !important;
}
.p_icon{
    color:white;
    font-size: 70px;
    margin: 65px 12px 20px 10px;
    background-color: #0066b2;
    border-radius: 50%;
    padding: 28px;
    text-align: center;
}
.left_icons{
    font-size:  68px;
    color: #E8E8E8;
    margin-top:400px;
    /* margin-left:50px; */
    text-align: center;
    margin-left:30px;
    margin-right:30px;
    border-radius:12px;
}

.all_icon{
    margin-top:30px;
    margin-bottom:30px;
    padding:20px;
}
.active_icon{
    background-color: #0066b2;
    border-radius: 12px;
}
.user_image{
    width: 160px;
    height: 160px;
    bottom:  110px;
    position: absolute;
    text-align: center;
    margin-left:  20px;
}
.user_image img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 50%;
}
.main_content{
    margin-left:100px;
    margin-right:60px;
}
.search{
    position:relative;
}
.search input{
    width: 1280px;
    height: 150px;
    border: unset;
    border-radius:  54px;
    margin-top: 52px;
    font-size: 40px;
    padding-left: 130px;
    font-family: 'Roboto', sans-serif;
}


.search .search_glass{
    position: absolute;
    left: 60px;
    top: 105px;
    font-size: 50px;
    color:grey;
}

.filters{
    position: absolute;
    left: 1004px;
    bottom: 38px;
    font-size: 40px;
    color:  #00308F;
    padding: 14px 46px;
    background-color: #F0F8FF;
    border-radius:18px;
}

.bell{
    position:absolute;
    background-color: #FFF;
    font-size: 48px;
    right: 140px;
    bottom: 18px;
    padding: 35px 45px;
    border-radius: 40%;
    color: black;
}
.bell i{
    color:  #00308F;
}
#money{
    margin-top:  80px;
    margin-left: 10px;
    font-size: 48px;
    font-weight:bold;
}
.top_left_card{
    background-color: white;
    height:460px;
    margin-top:30px;
    border-radius: 38px;
}
.top_right_card{
    height:460px;
    margin-top:30px;
    margin-left:90px;
    border-radius: 38px;
    position:relative;
    overflow: hidden;
}
.visa_logo{
    left:15px;
    width: 77px;
    height: 74px;
    position: absolute;
    bottom: 12px;
    background-color:  #F0F8FF;
}
.visa_selector{
    position:relative;
    height: 110px;
    border: 0.01px solid #D3D3D3;
    border-radius: 18px;
    font-size:40px;
    text-align:center;
    padding-top:28px;
    color:grey;
}
.visa_logo img{
    height:100%;
    width: 100%;
    object-fit: contain;
}
.visa_drop_down{
    position:absolute;
    color:grey;
    right:22px;
    bottom:15px;
}
.active_balance{
    margin-top: 60px;
    margin-left: 50px;
}
#active_balance{
    font-size:50px;
    color:grey;
    margin-top: 120px;
}
#active_balance span{
    color:black;
}
#amount{
    font-size:50px;
     color:grey;
}
.send_money{
    text-align:right;
    margin-top: 48px;
}
.send_money p{
    font-size: 65px;
    color: black;
}
.send_money button{
    color: white;
    background-color:  #00BFFF;
    padding: 22px 30px 22px 30px;
    border: unset;
    border-radius: 10px;
    font-size: 40px;
    margin-top:38px;
    font-family: 'Roboto',sans-serif;
}
.circle{
     position:absolute;
     border-radius:50%;
     background-color: #6082B6;
     width:380px;
     height:380px;
     right: -79px;
     top: -69px;
}
.top_right_card p{
    color: #B0C4DE;
    font-size:58px;
    padding-left: 70px;
    padding-top: 40px;
}
#right_card_price{
    color:white;
    font-weight: bold;
    font-size: 68px;
}
.line_one{
    position:absolute;
    background-color: white;
    padding:8px;
    border-radius:10px;
    width:69%;
    bottom:54px;
    left: 72px;
}
.line_two{
    position:absolute;
    background-color: #6082B6;;
    padding:8px;
    border-radius:10px;
    width:24%;
    bottom: 54px;
    right: 58px;
}
.center_card{
    margin-top:90px;
    display:flex;
    justify-content: space-around;
}
.center_card_a{
    height:380px;
    background-color:white;
    width: 860x !important;
    border-radius: 22px;
    margin-left:-90px;
}
.center_card_b{
    height:380px;
    background-color:white;
    width:880px !important;
    border-radius: 22px;
}
.center_card_c{
    height:380px;
    background-color:white;
    width: 880px !important;
    border-radius: 22px;
}